%FooterBar-base {
  position: absolute;
  width: 100%;
  background-color: whitesmoke;
  border-top: 5px;
  border-color: gray;
  height: 5%;
  .SignatureBox {
    position: absolute;
    width: 300px;
    padding: 10px;
    display: flex;
  }
  a {
    color: inherit;
    text-decoration: underline;
    margin-left: 5px
  }
}

.FooterBar-desktop {
  @extend %FooterBar-base;
  .SignatureBox {
    right: 2%;
    justify-content: flex-end;
  }
}

.FooterBar-mobile {
  @extend %FooterBar-base;
  .SignatureBox {
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
  }
}