.NavBar {
  display: flex;
  background-color: whitesmoke;
  height: 30%;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  div {
    display: flex;
    justify-content: space-evenly;
    padding: 0.5%;
    width: 30%;
    padding-right: 10%;
  }
  
  img {
    height: 15%;
    width: 12%;
    padding: 0.5%;
    padding-left: 10%;
  }
}